/* logo: #0a66c2;
primary #f3f2ef;
secundary: #eae2f3; */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

body {
  background: #f3f2ef
}

.form-registro {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.form-group label {
  margin-left: 1rem;
}

.error {
  color: red;
}
