/* logo: #0a66c2;
primary #f3f2ef;
secundary: #eae2f3; */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: f;

}

body {
  background: #f3f2ef
}

.formulario {
  margin-top: 80px;
}

h2 {
  margin-bottom: 30px;
  border: 1px solid black;
}

.formulario input,
.formulario textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
}

.form-registro {
  border: 1px solid black;
}

.form-group form-check {
  margin-top: 5px;
}

.error {
  color: red;
}