body {
  background-color: #bbcfe2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-registro {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-group label {
  margin-left: 1rem;
}

.error {
  color: red;
  font-weight: bold;
}

#eliminar-cuenta {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.mensaje-confirmacion {
  color: red;
  font-weight: bold;
}

.mensaje-registro {
  color: red;
  font-weight: bold;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes input-slide {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.input-slide {
  animation: input-slide 0.3s ease-in-out;
}
@keyframes button-color {
  0% {
    background-color: #007bff;
  }
  50% {
    background-color: green;
  }
  100% {
    background-color: #007bff;
  }
}
.button-animation {
  animation: button-color 2s infinite;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* //login// */
#container-inputs {
  background-image: linear-gradient(to bottom, #e6eff7, #bbcfe2);
}
.h2-animation {
  animation: fade-in 0.5s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight:bold;
}


.amigosContainer {
  margin-top: 80px; /* ajusta la cantidad de margen que deseas agregar */
}

.amigo-card {
  margin-top: 50px;
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.amigo-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .col-md-3 {
    flex-basis: 50%;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin: 0.5rem 0;
  }
}
