.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-registro {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-group label {
  margin-left: 1rem;
}

.error {
  color: red;
  font-weight: bold;
}

#eliminar-cuenta {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.mensaje-confirmacion {
  color: red;
  font-weight: bold;
}

.mensaje-registro {
  color: red;
  font-weight: bold;
}


html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f3f2ef;
}

.amigosContainer {
  margin-top: 80px; /* ajusta la cantidad de margen que deseas agregar */
}

.amigo-card {
  margin-top: 50px;
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.amigo-card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.nombre-usuario {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nombre-completo,
.edad,
.pais {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
  color: #555;
}.usuario-card {
  /* Ajusta el tamaño de las tarjetas para diferentes tamaños de pantalla */
  flex: 0 0 auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .col-md-3 {
    flex-basis: 50%;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin: 0.5rem 0;
  }
}
